.top-banner {
  background-image: url("images/top-banner.png");
  background-repeat: no-repeat;
}
section {
  height: 500px;
  padding-bottom: 150px;
}
body {
  /* background-image: url("images/bg.jpg"); */

  margin: 0px;
  font-family: "sans-serif";
}
.half-width {
  width: 50%;
  float: left;
}

.name-highlight {
  color: orange;
}

h1 {
  padding: 10;
  margin-left: 80px;
  font-size: 50px;
}
.nav_name {
  padding: 10px;
}

/* Navbar anchor area */
.elements {
  color: blue;
  padding: 10px;
}
.elements a {
  font-size: 30px;
}
.elements a:hover {
  font-size: 40px;
  color: white;
  background-color: navy;
}
nav {
  background-color: rgb(233, 121, 80);
  height: 80px;
  display: flex;
  justify-content: space-between;
}
.half-width img {
  width: 100%;
}
nav a {
  padding: 10px;
  text-decoration: none;
}

.link_button {
  margin-left: 80px;
  font-size: 20px;
  text-decoration: none;
  border-radius: 5px;
  padding: 10px;
  background-color: orange;
}

/* Anchor-hover */
.link_button:hover {
  font-size: 30px;
  background-color: navy;
  color: rgb(234, 234, 234);

  font-weight: 700;
}
/* 2nd Section */
.some-talk {
  margin-top: 260px;
  font-size: 30px;
  font-weight: 300;
  padding: 20px;
  border: 3px solid;
  margin-left: 10px;
  border-color: chocolate;
}

/* Background-image */

.section2 {
  background-image: url("images/dream-bg.png");
  padding-bottom: 150px;
  background-repeat: no-repeat;

  background-position: right;
}

/* Section-Images */
.sec1-img {
  width: 550px;
  margin-left: 150px;
}

.sec2-img {
  width: 550px;
}

/* Experince area */

.sec3 {
  float: left;
  width: 30%;

  height: 50%;
  padding: 10px;
  margin: 50px;
  box-shadow: 10px 10px 40px gray;
  border-radius: 5px;
}
/* border class coloring */
.full-stack {
  margin-left: 180px;
  border-left: 7px solid;
  border-image: linear-gradient(rgb(15, 204, 43), rgb(203, 223, 29));
  border-image-slice: 1;
}
#exp {
  font-size: 40px;
}
.Experiences-area {
  background-image: url("images/exp-bg.png");
  background-repeat: no-repeat;
  background-position: left;
}

.baby-dev {
  margin-left: 180px;
  border-left: 7px solid;
  border-image: linear-gradient(rgb(218, 103, 15), rgb(229, 34, 20));
  border-image-slice: 1;
}
.download-resume {
  margin-top: 400px;
}

.ft1 {
  background-color: orange;
  height: 20px;
}
.ft2 {
  height: 100px;
  background-color: rgb(24, 72, 162);

  color: aliceblue;
}

.ft3 {
  background-color: orange;
  height: 20px;
}
